<div>
  <div class="search-wrapper">
    <input
      class="search-input"
      type="text"
      placeholder="Search"
      [(ngModel)]="searchTerm"
      (input)="search()"
    />
    <img src="assets/search.svg" alt="search icon" />
  </div>
  <ng-container *ngIf="leagues$ | async as leagues">
    <ul class="list-leagues" *ngIf="leagues.length > 0; else noLeagues">
      <li
        *ngFor="let item of leagues; trackBy: trackById"
        (click)="getTeams(item.teams)"
      >
        <a>{{ item.name }}</a>
      </li>
    </ul>
    <ng-template #noLeagues>
      <p class="no-leagues" *ngIf="searchTerm && !isLoading">
        No Leagues found for "{{ searchTerm }}"
      </p>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="selectedLeague">
    <h2>Teams</h2>
    <div class="list-teams">
      <app-teams
        *ngFor="let team of getTeams(selectedLeague)"
        [teamId]="team"
      ></app-teams>
    </div>
  </ng-container>
</div>
