:host {
  display: block;


}

.team-box {
  border-radius: 20px;
  padding: 16px;
  background-color: var(--list-section);
  width: 5rem;
  margin: 1rem;
  padding: 1rem;
  transition: transform .2s ease-out;
  cursor: pointer;

  /* Animation properties */
  &:hover {
    transform: scale(1.1);
  }
}